// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
// make all images responsive by default
* {
  font-family: Shadows Into Light Two, cursive;;
  font-weight:bold;}
.p {
  font-family:Shadows Into Light Two;
  font-weight:bold;
}
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
@font-face {
  font-family: 'meloregular';
  src: url('/fonts/melo-regular-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-family: 'Shadows Into Light Two';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light Two'), local('ShadowsIntoLightTwo-Regular'), url(https://fonts.gstatic.com/s/shadowsintolighttwo/v4/gDxHeefcXIo-lOuZFCn2xbIfIbZrEcH2WW587lG91II.woff2) format('woff2');
}

// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }
// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  margin-top: 51px; // accommodate the navbar
  }
body {
  background-size: 20px 20px;
  background-image: linear-gradient(to right, #89dbff 1px, transparent 1px), linear-gradient(to bottom, #89dbff 1px, transparent 1px);
}
section {
  @extend .row;
  font-weight: bold;
  margin-top: 20px;
  }
